<a ng:hide="cube.parentKey.length" href="#/{{cube.parentKey}}">&lt; back</a>
<div id="cube_list">
<h2>{{cube.cubeValue}}</h2>
<form ng:submit="addCube()">
  <div>
  	<input type="text" name="newValue" size="35" placeholder="value">
  	<input type="submit" value="add">
</div>
</form>
<ul>
	<li ng:repeat="item in items">
		<cube:link></cube:link>
		<a href="#/{{area}}/{{parentKey}}/{{item.keyName}}">{{item.cubeValue}}</a> <a href ng:click="removeCube(item)" class="delete">delete</a>
	</li>
</ul>
</div>