<a href="#/lists/{{cube.parentKey}}">&lt; back</a>
<div id="cube_list">
<h2>{{cube.cubeValue}}</h2>
<form ng:submit="addCube()">
  <div>
  	<span ng:repeat="field in fields">{{field.cubeValue}}
  		<input type="text" name="{{field.keyName}}" size="35" placeholder="value">
  	</span>
  	<input type="submit" value="add">
</div>
</form>
<ul>
	<li ng:repeat="item in items">
		<a href="#/lists/{{item.keyName}}">{{item.cubeValue}}</a> <a href ng:click="removeCube(item)" class="delete">delete</a>
	</li>
</ul>
</div>